/* https://coolors.co/606c38-283618-fefae0-dda15e-bc6c25 */
* {
  box-sizing: border-box;
}

body {
  color: #606c38;
  font-family: "Noto Sans KR", sans-serif;

  background-image: url("../img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
}

a {
  color: #283618;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ol {
  padding-left: 1.2rem;
  margin: 0;
}

th {
  color: #283618;
}

header {
  box-shadow: 0px 0px 5px #bc6c25;
}

header > h1 {
  background-color: #bc6c25;
  color: #fefae0;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

nav {
  /* scroll이 되어 밖으로 나갈 때 포지션을 처리 */
  /* scroll 내부에 있을 때는 일반 문서 표시방시을 따름 */
  position: sticky;
  top: 0.5rem;
  z-index: 9999;
  margin-bottom: 0.5rem;
}

nav a:active {
  background-color: #dda15e80;
}

nav a:visited {
  color: #606c38;
}

nav ul {
  padding: 0.5rem 0;
}

nav ul > li {
  padding-left: 1rem;
}

nav ul > li:not(:last-child) {
  border-bottom: 1px solid #dda15e50;
  padding-bottom: 0.5rem;
}

.banner {
  height: 15vh;
  background-image: url("../img/5502a5db2f3e3fbc86d7e2d8ae61a4671.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;

  box-shadow: 0px 1px 5px #bc6c25;
}

section {
  padding: 0.25rem 1rem 1rem 1rem;
  /* 스크롤 이동할 때 상단 마진을 줌 */
  scroll-margin-top: 10rem;
  margin-bottom: 1rem;
}

section > h2 > a::after {
  content: " - 만개의 레시피에서 보기";
  font-size: 0.5rem;
}

section > h2 {
  /* background-color: #dda15e80; */
  padding: 0.5rem;
  margin: 0;
}

section > h3 {
  margin-top: 2rem;
}

section table {
  border-collapse: collapse;
}

section table td,
section table th {
  border-bottom: 1px solid #283618;
  text-align: left;
}

section table tr:nth-child(2n) {
  background-color: #bc6c2520;
}

section img,
section table {
  width: 100%;
}

aside {
  padding: 0.5rem;
}

aside img:not(:last-child) {
  margin-bottom: 0.5rem;
}

nav,
section,
aside {
  background-color: #fefae0;
  /* border: 1px solid #dda15e50; */
  box-shadow: 0px 1px 5px #bc6c25;
  height: fit-content;
}

header {
  grid-area: header;
}

.banner {
  grid-area: banner;
}

nav {
  grid-area: nav;
}

article {
  grid-area: content;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/* x-small */
body {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "banner"
    "content"
    "sidebar"
    "footer";
}

/* small */
@media (min-width: 576px) {
  .banner {
    height: 20vh;
  }
}

/* medium */
@media (min-width: 768px) {
  body {
    width: 700px;
    margin: 0 auto;
    grid-template-columns: 2fr 5fr;
    grid-template-areas:
      "header   header"
      "banner   banner"
      "nav      nav"
      "sidebar  content"
      "footeer  footer";
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  nav ul > li {
    padding-left: 0;
  }

  nav ul > li:not(:last-child) {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .banner {
    height: 12rem;
  }

  aside {
    position: sticky;
    top: 4.5rem;
  }
}

/* large */
@media (min-width: 1280px) {
  body {
    width: 1200px;
    margin: 0 auto;
    grid-template-columns: 3fr 7fr 2fr;
    grid-template-areas:
      "header header  header"
      "banner banner  banner"
      "nav    content sidebar"
      "footer footer  footer";
  }

  nav {
    top: 1.5rem;
  }

  nav ul > li:not(:last-child) {
    border-bottom: 1px solid #dda15e50;
    padding-bottom: 0.5rem;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  .banner {
    height: 20rem;
  }

  aside {
    top: 1.5rem;
  }
}
